@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    font-family: "Roboto", "Open sans";
    --background-color: #f2eee8;
    --main-text-color: #2c2c2c;
    --accent-text-color: #FF0000;
    --button-banner-color: #1A38B1;
    --button-banner-text-color: #FFFFFF;
    --button-banner-hover-color: #FF0000;
    --offers-background-color: #FFFFFF;
    --carousel-item-color: #D0D0D0;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    margin: auto;
    background: var(--background-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

nav .menu {
    justify-content: space-around;
}

nav .logo {
    width: 40%;
}

.logo img {
    max-width: 80px;
}

.banner h1 {
    font-size: 4.5rem;
    color: var(--main-text-color);
    text-align: left;
    font-weight: 900;
    margin-left: 5%;
}

.banner p {
    font-size: 1.5rem;
    color: var(--main-text-color);
    text-align: left;
    letter-spacing: 1px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.burger-icon {
    font-size: 3rem;
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

header .menu {
    list-style-type: none;
    display: none;
}

header input:checked ~ .menu {
    display: flex;
}

header .menu {
    flex-direction: column;
}

header .menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--main-text-color);
    padding: 3px;
}

header .menu a:hover {
    color: var(--accent-text-color);
}

@media (min-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
    }

    header .burger-icon {
        display: none;
    }


    header .menu {
        display: flex;
        align-content: space-around;
        flex: 1;
        align-items: flex-start;
        flex-direction: row;
    }

}

@media (max-width: 480px) {
    header .logo {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
}

header .banner {
    background-image: url(../img/two_girls.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.banner button {
    padding: 1em 2.5em;
    border: 0.6em solid var(--button-banner-color);
    background-color: var(--button-banner-color);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: var(--button-banner-text-color);
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    transition: color 0.7s;
    margin-left: 5%;
}

.banner button:hover {
    background-color: var(--button-banner-hover-color);
    border: 0.6em solid var(--button-banner-hover-color);
    cursor: pointer;
}

.color-dot {
    color: var(--accent-text-color);
}

.about h2 {
    text-align: center;
    font-weight: 900;
    font-size: 3.5rem;
    padding-top: 10%;
    padding-bottom: 5%;
}

.about p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    line-height: 25px;
}

.offers img {
    max-width: 60px;
}

.offers {
    display: grid;
    padding-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.offers-container {
    background-color: var(--offers-background-color);
    padding: 10%;
    border-radius: 2%;
}

.offers-container h3 {
    color: var(--accent-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    padding-top: 10%;
    margin-bottom: 5%;
}

.offers-container p {
    text-align: left;
    line-height: 25px;
    margin-top: 5%;
}

.img-container {
    border-radius: 50%;
    background: var(--background-color);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
}

@media (max-width: 640px) {
    .offers {
        display: grid;
        grid-gap: 1%;
        grid-auto-columns: 1fr;
    }
}


@media (min-width: 640px) {

    .offers {
        display: grid;
        grid-gap: 1%;
        grid-template-columns: 1fr 1fr;
    }
}

/*@media (min-width: 800px) {

    .offers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}*/

@media (min-width: 980px) {

    .offers {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.courses h2 {
    text-align: center;
    font-weight: 900;
    font-size: 3.5rem;
    padding-bottom: 5%;

}

.slider {
    max-width: 80%;
    position: relative;
    margin: auto;
    height: auto;
    margin-bottom: 5%;
}

/*Зображення масштабується по відношенню до батьківського елемента*/
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: var(--carousel-item-color);
}

/*Анімація слайдів*/
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.slide-text h3 {
    color: var(--accent-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center; 
    padding-top: 1%;
    padding-bottom: 1%;
}

.slide-text p {
    text-align: center;
    line-height: 25px;
}

.form-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: var(--main-text-color);
}


.user-form {
    background-color: var(--offers-background-color);
    padding: 5%;
    border-radius: 2%;
}

.user-form form {
    display: flex;
    flex-direction: column;
    background-color: var(--offers-background-color);
}

.form-item img {
    width: 50%;
}

.user-form h2 {
    color: var(--main-text-color);
    font-weight: 900;
    font-size: 3.5rem;
    padding-bottom: 5%;
}

.user-form p {
    font-size: 1.5rem;
    padding-bottom: 5%;
}

input[type=submit] {
    padding: 3%;
    margin: 2%;
    border: 0.3em solid var(--button-banner-color);
    background-color: var(--button-banner-color);
    border-radius: 0.12em;
    color: var(--button-banner-text-color);
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.7s;
    width: 78%;
}

input[type=submit]:hover {
    background-color: var(--button-banner-hover-color);
    border: 0.3em solid var(--button-banner-hover-color);
    cursor: pointer;
}

input[type=text] {
    width: 70%;
    padding: 3%;
    margin: 2%;
    background: var(--background-color);
    border: 0.3em solid var(--background-color);
    border-radius: 0.12em;
}

input[type=text]:focus {
    border: 0.2em solid var(--button-banner-hover-color);
    outline: none;
}

input[type=email] {
    width: 70%;
    padding: 3%;
    margin: 2%;
    background: var(--background-color);
    border: 0.3em solid var(--background-color);
    border-radius: 0.12em;
}

input[type=email]:focus {
    border: 0.2em solid var(--button-banner-hover-color);
    outline: none;
}

.coaches h2 {
    text-align: center;
    font-weight: 900;
    font-size: 3.5rem;
    padding-bottom: 5%;
    padding-top: 5%;
}

.our-coaches h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 5%;
}

.our-coaches img {
    width: 50%;
}

#coaches {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 5%;
}

.our-coaches a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 3%;
}

.our-coaches a:hover {
    color: var(--accent-text-color);
}

.our-coaches small {
    color: var(--accent-text-color);
}

footer h2 {
    color: var(--button-banner-text-color);
    font-weight: 900;
    font-size: 3.5rem;
    padding-bottom: 5%;
    padding-top: 5%;
}

footer {
    display: flex;
    background: var(--main-text-color);
}

footer .contacts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 5%; 
}

footer h4 {
    color: var(--button-banner-text-color);
    padding-bottom: 5%;
    padding-top: 5%;
}

footer img {
    width: 50px;
}