* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 980px;
    margin: auto;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
    font-family: "Roboto"; 
}
.logo img {
    width: 80px;
}
header .menu {
    list-style-type: none;
}
header .menu {
    flex-direction: row;
}
header .menu a {
    text-decoration: none;

    padding: 3px;
}
@media (min-width: 480px) {

header nav {
        display: flex;
        background-color: #f2eee8;
    }
header .menu {
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        flex-direction: row;
    }
}
header .banner {
    background-image: url(../image/two_girls.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*header {
    background-image: url("../image/two_girls.png");
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

a {
    font-weight: 500;
    text-decoration: none;
    color: #2c2c2c;
    font-size: medium;

button {
    background-color: #1A38B1;
    width: 240px;
    height: 60px;
    font-family: "Roboto";
    color: white;
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 500;
    border: #1A38B1;
}
#home p {
    font-family: "Roboto";
    color: gray;
    bottom: 30px;
    font-size: large;
    letter-spacing: 2px;
}
h2 {
    font-family: "Roboto";
    color: #2c2c2c;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}
h3 {
    font-family: "Roboto";
    color: red;
    font-size: 2rem;
}
p {
    font-family: "Roboto";
    color: gray;
}
h4 {
    font-family: "Roboto";
    color: #2c2c2c;
    font-size: 2rem;
}
*/