#home {
    background-color: #F6EBEB;
}
html body {
    margin: 0;
    padding: 0;
    overflow: auto; 
}
.logo {
    display: inline-block;
    width: 80px;
    padding-left: 70px;
    padding-top: 50px;
}
 .menu ul {
     float: right;
     padding-top: 50px;
     padding-right: 70px;
 }

.menu li {
    display: inline;
    padding-right: 40px;
}
a {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: none;
    color: #2c2c2c;
    font-size: medium;
}
.baner {
    width: 100%;
}
h1 {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 5rem;
    color: #2c2c2c;
    padding-left: 70px;
    position: absolute;
    top: 280px;
    width: 100%;
}